.git
.env
.DS_Store
airflow_settings.yaml
compose.yaml
mlflow-compose.yaml
__pycache__/
astro
.venv
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
.idea
.ipynb_checkpoints/
*.ipynb
catboost_info
